
/* Importação da Fonte Bitter do Google Fontes */

@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

/* Estilização universal para a fonte */

* {
    box-sizing: border-box;
    font-family: "Bitter", serif;
}

/* Estilização do Plano de Fundo */

body {
    background-color:#cfcfcfd0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    min-height: 100%;
}

/* Estilização das tags a, do documento html e do parágrafo */

a {
    color:rgba(7, 79, 235, 0.808);
    font-weight: 500;
    text-align: center;
}

html { 
    height: 100%;
}

p {
    color:black;
    display: inline-block;
    font-size: 18px;
    margin: 0.5% ;
    text-align: justify;
}

/* Estilização dos Títulos  */

h1, h2 {
    color:#757575;
    text-align: center;
}

/* Estilização do Header da Home */

.cabecalho {
    background-image: url("Imagens - Página Inicial/photo-1490818387583-1baba5e638af.avif");
    background-repeat: no-repeat;
    height: 100vh;
}

.engalimentos { /* Texto sobreposto na imagem principal do site */
    color:#666060;
    font-size: 53px;
    font-weight: bolder;
    left: 40%;
    margin-top: 10%;
    position: absolute; /* Eu usei position absolute o título ficasse condicionado a section 1 */
    text-align: justify;
}

.li-menu {
    margin: 0 15px;
}

.li-menu a {
    color: #757272;
    font-size: 24px;
}

.li-menu a:hover {
    color: #000000;
}

.logo-cabecalho {
    height: 90px;
    width: 90px;
}

.menu {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: auto 30px;
}

.paragrafo1 {
    font-size: 20px;
    left: 40%;
    margin-top: 17%;
    position: absolute;
    text-align: justify;
    width: 55%;
}

.section1 {
    position: relative;
}

.ul-menu {
    display: flex;
    flex-direction: row;
    list-style: none;
}

/* Estilização da Section 2 */

.figure { 
    background-image: url("Imagens - Página Inicial/Alimentos Saudáveis.jpg");
    background-repeat: no-repeat;
    display: flex;
    height: 240px; 
    margin-left: auto;
    margin-right: auto;
    width: 500px;   
}

.figure:hover { /* Troca de imagens ao passar o cursor em cima */
    background-image: url("Imagens - Página Inicial/Alimentos Saudáveis 2.jpg"); 
}   

.paragrafo2 {
    font-size: 18px;
    width: 50%;
}

.section2 {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Estilização das imagens com legenda */
   
figcaption { 
    font-size: 15px;
    font-weight: 500;
    margin-top: 0.5%;
    text-align: center;
}

figure {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}            

/* Vídeo e links com botões externos */

.video {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;  
}

li {
    font-size: 19px;
    list-style: none;
    text-align: center;
    padding: 20px;
}

/* Aba Contato */

.form { 
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 30px;
    width: 100%;
}

.form_box {
    background-color: #f1f1f1;
    border-radius: 8%;
    display: flex;
    height: 430px;
    flex-direction: column;
    width: 700px;
}
 
.form_box button {
    background-color: #666060;
    border: none;
    border-radius: 8px;
    color: #fffcfc;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    margin-left: 460px;
    margin-top: 47%;
    outline: none;
    position: absolute;
    width: 180px;
}

.form_box button:hover {
    background-color:#727171d5;
}

.form_box form {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    position: relative;
}

.form_box h2 {
    color: #666060; 
}
 
.form_box input, .form_box textarea {
    border: thin solide #cccc;
    border-radius: 8px;
    font-size: 16px;
    height: 40px;
    margin-left: 16px;
    margin-top: 1%;
    padding-left: 16px;
    width: calc(50% -8px);
}

.form_box input:first-child {
    margin-right: 16px;
}

.form_box input[name=assunto] {
    width: 100%;
}

.form_box textarea {
    height: 180px;
    margin-top: 1%;
    padding: 16px;
    width: 100%;
}

.form_box .title {
    border-bottom: thin solide #cccc;
    font-size: 24px;
    padding: 24px 32px;
}

/* Aba Local */

.local {
    align-items: baseline;
    display: flex;
    justify-content: center;
}

/* Botão voltar ao topo */

.back {
    align-items: center;
    color: #f1f1f1;
    bottom: 5px;
    display: flex;
    justify-content: center;
    position: fixed;
    right: 10px;
}

/* Estilização do Rodapé */

footer {   
    color:#000000;
    font-size: 20px;
    font-weight: 500;
    margin-top: auto;
    text-align: center;
}
