
/* Importação da Fonte Bitter do Google Fontes */

@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

/* Estilização Universal */

* {
    box-sizing: border-box;
    font-family: "Bitter", serif; 
}

/* Estilização do Plano de Fundo */

body {
    background-color:#e6e6e6; 
    display: flex; /* Torna o elemento um contêiner flexível */
    flex-direction: column; 
    margin: 0; 
    min-height: 100vh; /* A altura mínima é 100% da altura da janela de visualização */
    padding: 0; 
}

/* Estilização da tag a, do html, da tag iframe e da tag img */

a { 
    color: rgba(59, 0, 197, 0.911); 
    font-weight: 400; 
}

html { 
    height: 100%; 
    scroll-behavior: smooth; /* Rolamento da página suave */
}

iframe, img {
    border-radius: 8px; 
}

/* Estilização das Legendas das Imagens */
   
figcaption { 
    font-size: 15px;
    font-weight: 500; 
    text-align: center; 
}

/* Estilização dos Títulos */

h1, h2 {  
    color: #727272; 
    text-align: center; 
}

/* Estilização do Cabeçalho (Linhas 12 a 30) */

.a-menu { 
    display: flex; 
    color: #000000; 
    flex-direction: column; /* Nomes dos ícones fica abaixo deles nessa configuração */
    font-weight: 400; 
    text-align: center;
    text-decoration: none; 
}

.cabecalho {
    background-image: url("Imagens/Página Inicial/Alimentos.jpg");
    background-position: top; 
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100vh; 
    position: relative; /* Posicionamento relativo para conteúdo interno (Título destacado) */
    width: 100%; 
    /* Estilização do cabeçalho com imagem de fundo (Apenas para o arquivo index.html) */
    /* Fonte da imagem: Freepik */
}

.engalimentos {  
    color: #666060; 
    font-size: 65px; 
    font-weight: bolder; 
    margin-left: 25%; 
    margin-top: 30px; 
    padding: 16px;
    text-align: justify; 
    width: 100%; 
    /* Título destacado sobre o assunto do site com imagem de fundo (Apenas para o arquivo index.html) */
}

.li-menu {
    margin: 0 40px;  
    /* Itens do menu de navegação */
}

.logo-cabecalho { 
    height: 85px;
    width: 85px; 
    /* Logotipo do menu de navegação */
}

.menu { 
    align-items: center; /* Logotipo e os ícones do menu centralizados */
    display: flex; 
    justify-content: space-around; /* Os itens ficam bem dispostos nessa configuração */
    margin: auto 30px; 
}

.section1 {
    position: absolute; /* Posicionamento absoluto para o título ficar dentro dos limites do cabeçalho */
}

.ul-menu { 
    display: flex; 
    list-style: none; 
    /* Lista não ordenada que dispõe os itens do menu de navegação */
}

/* Estilização da Section 2 e da Section 3 (Linhas 36 a 67 do arquivo index.html) */

.alimentos-saudaveis { 
    background-image: url("Imagens/Página Inicial/Alimentos Saudáveis.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
    border-radius: 8px; 
    height: 240px; 
    width: 500px; 
    /* Fonte da Imagem: Freepik */
}

.alimentos-saudaveis:hover { /* Troca as imagens ao passar o cursor em cima */
    background-image: url("Imagens/Página Inicial/Alimentos Saudáveis 2.jpg"); 
    transition: 1.5s; /* Transição suave ao passar o mouse sobre a imagem */
    /* Fonte da Imagem: Freepik */
}   

.paragrafo1, .paragrafo2 {
    font-size: 18px; 
    text-align: justify; 
    width: 50%; /* Harmonia entre o espaçamento entre as imagens e os trechos de textos */
}

.section2, .section3 { 
    align-items: flex-start; /* ELementos bem dispostos nessa configuração */
    display: flex; 
    justify-content: center;  
}

/* Estilização da Section 4 (Linhas 71 a 91 do arquivo index.html) */

.a-section4 {  
    color: #fcfcfc;  
    font-weight: bold; 
    text-decoration: none; 
}

.btn-section4 { 
    margin-left: 25px; /* Espaçamento uniforme entre botões com links externos e o vídeo */ 
}

.li-section4 { 
    background-color: #727272; 
    border-radius: 8px;  
    box-shadow: 2px 2px 2px #000000; /* Sombreamento das bordas dos botões */
    font-size: 19px; 
    list-style: none; 
    margin-top: 15px;
    padding: 10px;
    text-align: center; 
    /* Estilização dos botões com links externos dispostos em lista */
}

.li-section4:hover { /* Troca a cor de fundo ao passar o cursor sobre os botões */
    background-color: #464545; 
}

.section4 { 
    display: flex;  
    margin-left: 90px;  
    margin-top: 40px;
}

/* Aba Contato (Arquivo contato.html) */

.form { 
    align-items: center; 
    display: flex; 
    height: 100%; 
    justify-content: center;  
    margin-bottom: 40px;
    padding: 20px;  
    width: 100%; 
    /* Section que contém o formulário */
}

.form_box { 
    background-color: #fcfcfc; 
    border-radius: 8%; 
    display: flex;
    height: 470px;  
    flex-direction: column;  
    padding: 15px; 
    width: 700px; 
    /* Estrutura (Caixa) que contém os elementos do formulário */
}
 
.form_box button { 
    background-color: #727272; 
    border: none; 
    border-radius: 8px; 
    box-shadow: 2px 2px 2px #000000; 
    color: #fffcfc; 
    cursor: pointer; /* Mão clicável ao passar o cursor sobre o botão */
    display: block; 
    font-size: 16px; 
    font-weight: bold; 
    height: 40px; 
    margin-left: 478px; 
    margin-top: 55%; 
    outline: none; 
    position: absolute; /* Posicionamento absoluto para o botão ficar dentro dos limites do formulário */
    width: 180px; 
    /* Botão "Enviar formulário" */
}

.form_box button:hover { /* Troca a cor de fundo ao passar o cursor sobre o botão */
    background-color: #464545; 
}

.form_box form {
    align-items: center; 
    display: flex;
    flex-wrap: wrap; 
    position: relative; /* Posicionamento relativo para conteúdo interno (Botão do formulário) */ 
    /* Linha 34 */
}
 
.form_box input, .form_box textarea {
    border: thin solide #cccc; 
    border-radius: 8px; 
    font-size: 16px; 
    height: 40px; 
    margin: 12px; 
    padding-left: 16px; 
    width: calc(50% -8px); 
    /* Elementos do formulário */
}

.form_box input:first-child { 
    margin-right: 16px; 
    /* O primeiro filho do input é name="nome" (Linha 36) */
}

.form_box input[name=assunto] { 
    width: 100%; 
    /* Linha 40 */ 
}

.form_box input[name=nome], .form_box input[name=e-mail] {   
    width: 308px; 
    /* Linhas 36 e 38 */ 
}

.form_box textarea { 
    height: 180px; 
    margin: 12px; 
    padding: 16px; 
    width: 100%;
    /* Linha 42: espaço para o usuário escrever a mensagem */
}

/* Aba Local (Arquivo local.html) */

.local { 
    align-items: baseline; 
    display: flex; 
    justify-content: center;
    /* Linhas 28 a 39 */
}

/* Botão voltar ao topo (Javascript) */

#btnTopo {   
    bottom: 20px; 
    background-color: #e6e6e6; 
    border-color: #727272; 
    border-style: solid; 
    border-radius: 8px; 
    cursor: pointer; /* Mão clicável ao passar o cursor sobre o botão */
    display: none; 
    position: fixed; 
    right: 20px; 
    z-index: 99; 
}

/* Estilização do Rodapé */

.borboleta { 
    height: 30px; 
    width: 30px; 
    /* Fonte do ícone: https://www.flaticon.com/br/icone-gratis/borboleta_338337?term=borboleta+azul&page=1&position=1&origin=search&related_id=338337 */
}

.rodape {
    align-items: center; 
    color: #000000;
    display: flex;
    font-size: 21px; 
    font-weight: 500; 
    gap: 10px; /* Lacuna entre a imagem do rodapé (Borboleta) e o nome */
    justify-content: center;  
    margin-top: auto; /* Rodapé no fim da página */
    padding-top: 30px; 
    text-align: center; 
}
