
/* Importação da Fonte Bitter do Google Fontes */

@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

/* Estilização universal */

* {
    font-family: "Bitter", serif;
}

/* Estilização do Plano de Fundo */

body {
    background-color:#dfdfdf;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* Estilização do Footer e dos Títulos  */

h1, h2 {
    color:#757575;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Estilização do Menu */

.main {
    margin-left: 150px; 
    padding: 0px 10px;
}

.menulateral {
    background-color:#afafaf96;
    height: 100%; 
    left: 0;
    overflow-x: hidden; 
    padding-top: 20px;
    position: fixed;
    top: 0; 
    width: 150px; 
    z-index: 1; 
}

.menulateral a {
    color:#666060;
    display: block;
    font-size: 25px;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
}

.menulateral a:hover {
    color:#f1f1f1;
}

.menulateral img {
    bottom: 0%;
    position: absolute;
}

@media screen and (max-height: 450px) {
    .menulateral{padding-top: 15px;}
    .menulateral a {font-size: 18px;}
}

/* Estilização do Título destacado sobre o Assunto do Site com Imagem do Fundo */

#conteiner { /* Imagem principal do site */
    background-image: url("Imagens - Página Inicial/Engrenagem.jpg");
    background-repeat: no-repeat;
    border-radius: 50%;
    border-width: 14px;
    height: 480px;  
    margin: auto;
    position: relative;
    width: 500px;
}

#conteiner:hover { /* Completa a imagem principal do site */
    border-radius: 0%;
}

#engalimentos { /* Texto sobreposto na imagem principal do site */
    background-color:rgb(121, 120, 120);
    color:rgb(247, 243, 243);
    font-size: 30px;
    font-weight: bolder;
    left: 8%;
    position: absolute; /* Eu usei position absolute o título ficasse condicionado a section conteiner */
    text-align: justify;
    top: 45%;
}

/* Estilização das Imagens do Site */

#figcaption { /* Legenda da imagem "Alimentos Saudáveis" */   
    display: flex;
    font-size: 13px;
    margin-top: 48%; 
    text-align: center;
}

#figure { 
    background-image: url("Imagens - Página Inicial/Alimentos Saudáveis.jpg");
    background-repeat: no-repeat;
    height: 240px; 
    margin-left: auto;
    margin-right: auto;
    width: 500px;   
}

#figure:hover { /* Troca de imagens ao passar o cursor em cima */
    background-image: url("Imagens - Página Inicial/Alimentos Saudáveis 2.jpg"); 
}    

figcaption { 
    font-size: 13px;
    text-align: center;
}

figure { /* Figuras do site */
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
} 

/* Estilização do Áudio, do Mapa e do Vídeo */

.div {
    display: flex;
    justify-content: center;
}

/* Estilização do Conteúdo do Site */
                  
#contato { /* Criei um id, porque foi o único parágrafo que utilizei essas propriedades com esses valores */      
    color:black;
    font-size: large;
    margin-top: 1.5%;
    text-align: center;
}

a {
    color:rgb(7, 126, 236);
    font-weight: 400;
    text-align: center;
}

/* Estilização do formulário*/

.form {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    margin-left: 250px;
    width: 100vh;
}

.form_box {
    background-color: #f1f1f1;
    border-radius: 8%;
    display: flex;
    flex-direction: column;
    width: 700px;
}

.form_box button {
    background-color: #666060;
    border: none;
    border-radius: 8px;
    color: #f1f1f1;
    cursor: pointer;
    display: block;
    font-size: 16px;
    font-weight: bold;
    height: 48px;
    outline: none;
    width: 180px;
}

.form_box button:hover {
    background-color:#727171d5;
}

.form_box form {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 32px;
}

.form_box input, .form_box textarea {
    border: thin solide #cccc;
    border-radius: 8px;
    font-size: 16px;
    height: 48px;
    margin-left: 16px;
    padding-left: 16px;
    width: calc(50% -8px);
}

.form_box input: first-child {
    margin-right: 16px;
}

.form_box input[name=subject] {
    width: 100%;
}

.form_box textarea {
    height: 180px;
    padding: 16px;
    width: 100%;
}

.form_box .title {
    border-bottom: thin solide #cccc;
    font-size: 24px;
    padding: 24px 32px;
}

html { 
    height: 100%;
}

.p { /* Estilização do parágrafo que contém os botões com links externos */
    color:black;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    justify-content: center;
    text-align: center;
}

p {
    color:black;
    display: inline-block;
    font-size: 17px;
    margin: 0.5%;
    text-align: justify;
}

footer {   
    color:black;
    font-size: 17px;
    font-weight: 500;
    margin-left: 150px; 
    margin-top: auto;
    text-align: center;
}
